.search {
  background-image: linear-gradient(2deg, #2a0ca4, transparent,#43509f7a);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 2px 2px 12px #170dd9;
  margin-bottom: 1.5rem;
}
.search p{
  color: #9da5d1;
}
.search_container {
  display: flex;
  gap: 0.5rem;
}

.search_container input,
.search_container button{
  padding: .6rem;
  border-radius: 3px; 
  border: none;
  color:#2b3566;
}
.search_container button{
  background-image: linear-gradient(2deg, #0007e9, #0a25adb8,#bdbed1);
  cursor: pointer;
}
.search_container button:hover{
  background-image: linear-gradient(2deg, #080a5f, #102382b8,#575ee8);
  cursor: pointer;
}